.wrapper{
    margin: 5px;
}

.face{
    width: 75px;
    height: 75px;
    border: solid 2px black;
    background-color:yellow;
    border-radius: 50px;
    
}
.lefteye{
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 3px;
    position: relative;
    top: 26px;
    left: 32px;
    border: solid 1px black;
    z-index: 1;
}
.righteye{
    width: 6px;
    height: 6px;
    background-color:  black;
    border-radius: 3px;
    position: relative;
    top: 18px;
    left: 54px;
    border: solid 1px black;
    z-index: 1;
}
.mouth{
    width: 30px;
    height: 10px;
    background-color: black;
    border-radius: 0 0 45px 45px;
    margin: 16px;
    position: relative;
    Top: 1em;
    left: 1em;
    border: solid 1px black;
}
.inner- left{
    width: 2px;
    height: 2px;
    border: solid 1px color white; 
    border-radius: 2px;
    position: relative;
    top: 2px;
    left: 2px;
    border: solid 1px black;
    background-color: white;
}
.inner-right{
    width: 2px;
    height: 2px;
    border: solid 1px color white; 
    border-radius: 2px;
    position: relative;
    top: 2px;
    left: 2px;
    border: solid 1px black;
    background-color: white;
}
    